extends ../../layout/main.pug

block db
	- var navActive = 'services';

block head
	+head(
		'Digital Cloud - Услуги',
		'Наша команда - это опытные разработчики на JavaScript, React Native, Vue, Angular, TypeScript, Php, MySQL и PostgreSQL',
		'React Native, Vue, Angular, TypeScript, Php, MySQL, PostgreSQL'
	)

block header
	+header(false, 'digital cloud_')

block content
	-
		var servicesList = [	
			{ name: 'native',     label: 'Native App', text: 'Нативные приложения оптимизированы под конкретные операционные системы, такие как IOS/Android' },
			{ name: 'prototype',  label: 'Prototype',  text: 'Создание интерактивных высокоточных прототипов является средством измерения эффективности дизайна' },
			{ name: 'design',     label: 'Designе',    text: '«Дизайн – это не только, как предмет выглядит и ощущается. Дизайн – это то, как он работает» Стив Джобс' },
			{ name: 'backend',    label: 'Back-end',   text: 'Наша команда - это опытные разработчики Php/MySQL/PostgreSQL' },
			{ name: 'frontend',   label: 'Front-end',  text: 'Наша команда - это опытные разработчики Java Script/React Native/Vue/Angular/Type Script' },
			{ name: 'middleware', label: 'MiddleWare', text: 'Комплекс технологического программного обеспечения для взаимодействия между приложениями, системами и компонентами' },
		]

	main
		.plate
		.services.container
			.title.services__title Наши компетенции
			.services__intro
				.services__number 01
				.services__banner= servicesList[0].text  
				.services__icon
					svg(width='44' height='63' viewBox='0 0 44 63' fill='inherit' xmlns='http://www.w3.org/2000/svg')
						path(d='M6.58366 6.81886V55.9557H37.417V6.81886H6.58366ZM3.50033 0.676758H40.5003C41.3181 0.676758 42.1023 1.00031 42.6806 1.57625C43.2588 2.15218 43.5837 2.93331 43.5837 3.74781V59.0267C43.5837 59.8412 43.2588 60.6223 42.6806 61.1983C42.1023 61.7742 41.3181 62.0978 40.5003 62.0978H3.50033C2.68257 62.0978 1.89832 61.7742 1.32008 61.1983C0.741843 60.6223 0.416992 59.8412 0.416992 59.0267V3.74781C0.416992 2.93331 0.741843 2.15218 1.32008 1.57625C1.89832 1.00031 2.68257 0.676758 3.50033 0.676758ZM22.0003 46.7425C22.8181 46.7425 23.6023 47.0661 24.1806 47.642C24.7588 48.2179 25.0837 48.9991 25.0837 49.8136C25.0837 50.628 24.7588 51.4092 24.1806 51.9851C23.6023 52.5611 22.8181 52.8846 22.0003 52.8846C21.1826 52.8846 20.3983 52.5611 19.8201 51.9851C19.2418 51.4092 18.917 50.628 18.917 49.8136C18.917 48.9991 19.2418 48.2179 19.8201 47.642C20.3983 47.0661 21.1826 46.7425 22.0003 46.7425Z')
				.services__caption Native App

			.services__intro
				.services__number 02
				.services__banner= servicesList[1].text    
				.services__icon
					svg(width='62' height='62' viewBox='0 0 62 62' fill='inherit' xmlns='http://www.w3.org/2000/svg')
						path(d='M18.1425 55.6667C17.6213 57.1401 16.7353 58.4576 15.5672 59.4961C14.3992 60.5346 12.9871 61.2603 11.4628 61.6055C9.93841 61.9507 8.35146 61.9041 6.84996 61.4701C5.34846 61.0362 3.98135 60.229 2.87618 59.1238C1.77101 58.0186 0.963788 56.6515 0.529831 55.15C0.0958749 53.6485 0.0493247 52.0616 0.394523 50.5372C0.739721 49.0129 1.46542 47.6008 2.50391 46.4327C3.5424 45.2647 4.85984 44.3787 6.33332 43.8575V18.1425C4.85984 17.6213 3.5424 16.7353 2.50391 15.5672C1.46542 14.3992 0.739721 12.9871 0.394523 11.4628C0.0493247 9.93841 0.0958749 8.35146 0.529831 6.84996C0.963788 5.34846 1.77101 3.98135 2.87618 2.87618C3.98135 1.77101 5.34846 0.963788 6.84996 0.529831C8.35146 0.0958749 9.93841 0.0493247 11.4628 0.394523C12.9871 0.739721 14.3992 1.46542 15.5672 2.50391C16.7353 3.5424 17.6213 4.85984 18.1425 6.33332H43.8575C44.3787 4.85984 45.2647 3.5424 46.4327 2.50391C47.6008 1.46542 49.0129 0.739721 50.5372 0.394523C52.0616 0.0493247 53.6485 0.0958749 55.15 0.529831C56.6515 0.963788 58.0186 1.77101 59.1238 2.87618C60.229 3.98135 61.0362 5.34846 61.4701 6.84996C61.9041 8.35146 61.9507 9.93841 61.6055 11.4628C61.2603 12.9871 60.5346 14.3992 59.4961 15.5672C58.4576 16.7353 57.1401 17.6213 55.6667 18.1425V43.8575C57.1401 44.3787 58.4576 45.2647 59.4961 46.4327C60.5346 47.6008 61.2603 49.0129 61.6055 50.5372C61.9507 52.0616 61.9041 53.6485 61.4701 55.15C61.0362 56.6515 60.229 58.0186 59.1238 59.1238C58.0186 60.229 56.6515 61.0362 55.15 61.4701C53.6485 61.9041 52.0616 61.9507 50.5372 61.6055C49.0129 61.2603 47.6008 60.5346 46.4327 59.4961C45.2647 58.4576 44.3787 57.1401 43.8575 55.6667H18.1425ZM18.1425 49.5H43.8575C44.3188 48.1988 45.0647 47.0171 46.0409 46.0409C47.0171 45.0647 48.1988 44.3188 49.5 43.8575V18.1425C48.1988 17.6812 47.0171 16.9353 46.0409 15.9591C45.0647 14.9829 44.3188 13.8012 43.8575 12.5H18.1425C17.6812 13.8012 16.9353 14.9829 15.9591 15.9591C14.9829 16.9353 13.8012 17.6812 12.5 18.1425V43.8575C13.8012 44.3188 14.9829 45.0647 15.9591 46.0409C16.9353 47.0171 17.6812 48.1988 18.1425 49.5ZM9.41666 12.5C10.2344 12.5 11.0187 12.1751 11.5969 11.5969C12.1751 11.0187 12.5 10.2344 12.5 9.41666C12.5 8.59891 12.1751 7.81465 11.5969 7.23641C11.0187 6.65817 10.2344 6.33332 9.41666 6.33332C8.59891 6.33332 7.81465 6.65817 7.23641 7.23641C6.65817 7.81465 6.33332 8.59891 6.33332 9.41666C6.33332 10.2344 6.65817 11.0187 7.23641 11.5969C7.81465 12.1751 8.59891 12.5 9.41666 12.5ZM52.5833 12.5C53.4011 12.5 54.1853 12.1751 54.7636 11.5969C55.3418 11.0187 55.6667 10.2344 55.6667 9.41666C55.6667 8.59891 55.3418 7.81465 54.7636 7.23641C54.1853 6.65817 53.4011 6.33332 52.5833 6.33332C51.7656 6.33332 50.9813 6.65817 50.4031 7.23641C49.8248 7.81465 49.5 8.59891 49.5 9.41666C49.5 10.2344 49.8248 11.0187 50.4031 11.5969C50.9813 12.1751 51.7656 12.5 52.5833 12.5ZM52.5833 55.6667C53.4011 55.6667 54.1853 55.3418 54.7636 54.7636C55.3418 54.1853 55.6667 53.4011 55.6667 52.5833C55.6667 51.7656 55.3418 50.9813 54.7636 50.4031C54.1853 49.8248 53.4011 49.5 52.5833 49.5C51.7656 49.5 50.9813 49.8248 50.4031 50.4031C49.8248 50.9813 49.5 51.7656 49.5 52.5833C49.5 53.4011 49.8248 54.1853 50.4031 54.7636C50.9813 55.3418 51.7656 55.6667 52.5833 55.6667ZM9.41666 55.6667C10.2344 55.6667 11.0187 55.3418 11.5969 54.7636C12.1751 54.1853 12.5 53.4011 12.5 52.5833C12.5 51.7656 12.1751 50.9813 11.5969 50.4031C11.0187 49.8248 10.2344 49.5 9.41666 49.5C8.59891 49.5 7.81465 49.8248 7.23641 50.4031C6.65817 50.9813 6.33332 51.7656 6.33332 52.5833C6.33332 53.4011 6.65817 54.1853 7.23641 54.7636C7.81465 55.3418 8.59891 55.6667 9.41666 55.6667Z')
				.services__caption Prototype

			.services__intro
				.services__number 03
				.services__banner= servicesList[2].text      
				.services__icon
					svg(width='56' height='62' viewBox='0 0 56 62' fill='inherit' xmlns='http://www.w3.org/2000/svg')
						path(d='M6.41667 18.667V55.667H18.75V18.667H6.41667ZM0.25 15.5837L12.5833 0.166992L24.9167 15.5837V61.8337H0.25V15.5837ZM49.5833 43.3337V37.167H40.3333V31.0003H49.5833V24.8337H43.4167V18.667H49.5833V12.5003H37.25V55.667H49.5833V49.5003H43.4167V43.3337H49.5833ZM34.1667 6.33366H52.6667C53.4844 6.33366 54.2687 6.65851 54.8469 7.23675C55.4252 7.81498 55.75 8.59924 55.75 9.41699V58.7503C55.75 59.5681 55.4252 60.3523 54.8469 60.9306C54.2687 61.5088 53.4844 61.8337 52.6667 61.8337H34.1667C33.3489 61.8337 32.5647 61.5088 31.9864 60.9306C31.4082 60.3523 31.0833 59.5681 31.0833 58.7503V9.41699C31.0833 8.59924 31.4082 7.81498 31.9864 7.23675C32.5647 6.65851 33.3489 6.33366 34.1667 6.33366Z')
				.services__caption Design

			.services__intro
				.services__number 04
				.services__banner= servicesList[3].text      
				.services__icon
					svg(width='56' height='56' viewBox='0 0 56 56' fill='inherit' xmlns='http://www.w3.org/2000/svg')
						path(d='M6.41667 24.9167H49.5833V6.41667H6.41667V24.9167ZM55.75 3.33333V52.6667C55.75 53.4844 55.4252 54.2687 54.8469 54.8469C54.2687 55.4252 53.4844 55.75 52.6667 55.75H3.33333C2.51558 55.75 1.73132 55.4252 1.15309 54.8469C0.57485 54.2687 0.25 53.4844 0.25 52.6667V3.33333C0.25 2.51558 0.57485 1.73132 1.15309 1.15309C1.73132 0.57485 2.51558 0.25 3.33333 0.25H52.6667C53.4844 0.25 54.2687 0.57485 54.8469 1.15309C55.4252 1.73132 55.75 2.51558 55.75 3.33333ZM49.5833 31.0833H6.41667V49.5833H49.5833V31.0833ZM12.5833 37.25H21.8333V43.4167H12.5833V37.25ZM12.5833 12.5833H21.8333V18.75H12.5833V12.5833Z')
				.services__caption Back-end

			.services__intro
				.services__number 05 
				.services__banner= servicesList[4].text      
				.services__icon
					svg(width='74' height='56' viewBox='0 0 74 56' fill='inherit' xmlns='http://www.w3.org/2000/svg')
						path(d='M74 28L56.5576 45.4424L52.1978 41.0826L65.2803 28L52.1978 14.9174L56.5576 10.5576L74 28ZM8.71967 28L21.8022 41.0826L17.4424 45.4424L0 28L17.4424 10.5576L21.7992 14.9174L8.71967 28ZM30.1797 55.75H23.6183L43.8203 0.25H50.3817L30.1797 55.75Z')
				.services__caption Front-end

			.services__intro
				.services__number 06
				.services__banner= servicesList[5].text     
				.services__icon
					svg(width='56' height='56' viewBox='0 0 56 56' fill='inherit' xmlns='http://www.w3.org/2000/svg')
						path(d='M12.9071 37.8983C14.9225 38.6972 16.5934 40.1785 17.6282 42.0835C18.663 43.9886 18.9961 46.1966 18.5692 48.3222C18.1423 50.4477 16.9826 52.3559 15.2924 53.7137C13.6023 55.0715 11.4891 55.7928 9.32144 55.7516C7.15383 55.7104 5.06951 54.9094 3.43218 53.4883C1.79484 52.0673 0.708478 50.1164 0.362644 47.9762C0.0168102 45.836 0.43347 43.6422 1.53992 41.7778C2.64636 39.9134 4.37234 38.4967 6.41666 37.7749V18.2266C4.35856 17.4992 2.62387 16.0677 1.51922 14.185C0.414567 12.3022 0.0110796 10.0896 0.380078 7.93818C0.749077 5.78674 1.8668 3.83502 3.53568 2.428C5.20456 1.02098 7.31714 0.249273 9.5 0.249273C11.6829 0.249273 13.7954 1.02098 15.4643 2.428C17.1332 3.83502 18.2509 5.78674 18.6199 7.93818C18.9889 10.0896 18.5854 12.3022 17.4808 14.185C16.3761 16.0677 14.6414 17.4992 12.5833 18.2266V28.0008C15.161 26.0644 18.3615 24.9174 21.8333 24.9174H34.1667C36.1958 24.9175 38.1688 24.2506 39.7817 23.0193C41.3946 21.788 42.5581 20.0607 43.0929 18.1033C41.0677 17.3013 39.3903 15.8106 38.3561 13.8936C37.3219 11.9766 36.9971 9.75612 37.4389 7.6232C37.8808 5.49027 39.0609 3.58159 40.7716 2.23318C42.4823 0.884772 44.6138 0.183088 46.7909 0.25166C48.9681 0.320231 51.0512 1.15466 52.6737 2.60805C54.2961 4.06143 55.3538 6.0406 55.6605 8.1971C55.9673 10.3536 55.5034 12.5492 54.3506 14.3973C53.1978 16.2455 51.4299 17.6277 49.3582 18.3006C48.7373 21.8794 46.8728 25.1241 44.0937 27.4627C41.3145 29.8013 37.7989 31.0838 34.1667 31.0841H21.8333C19.8042 31.084 17.8312 31.751 16.2183 32.9822C14.6054 34.2135 13.4419 35.9409 12.9071 37.8983ZM9.5 43.4174C8.68224 43.4174 7.89799 43.7423 7.31975 44.3205C6.74151 44.8988 6.41666 45.683 6.41666 46.5008C6.41666 47.3185 6.74151 48.1028 7.31975 48.681C7.89799 49.2593 8.68224 49.5841 9.5 49.5841C10.3177 49.5841 11.102 49.2593 11.6802 48.681C12.2585 48.1028 12.5833 47.3185 12.5833 46.5008C12.5833 45.683 12.2585 44.8988 11.6802 44.3205C11.102 43.7423 10.3177 43.4174 9.5 43.4174ZM9.5 6.41744C8.68224 6.41744 7.89799 6.74229 7.31975 7.32053C6.74151 7.89877 6.41666 8.68303 6.41666 9.50078C6.41666 10.3185 6.74151 11.1028 7.31975 11.681C7.89799 12.2593 8.68224 12.5841 9.5 12.5841C10.3177 12.5841 11.102 12.2593 11.6802 11.681C12.2585 11.1028 12.5833 10.3185 12.5833 9.50078C12.5833 8.68303 12.2585 7.89877 11.6802 7.32053C11.102 6.74229 10.3177 6.41744 9.5 6.41744ZM46.5 6.41744C45.6822 6.41744 44.898 6.74229 44.3197 7.32053C43.7415 7.89877 43.4167 8.68303 43.4167 9.50078C43.4167 10.3185 43.7415 11.1028 44.3197 11.681C44.898 12.2593 45.6822 12.5841 46.5 12.5841C47.3177 12.5841 48.102 12.2593 48.6802 11.681C49.2585 11.1028 49.5833 10.3185 49.5833 9.50078C49.5833 8.68303 49.2585 7.89877 48.6802 7.32053C48.102 6.74229 47.3177 6.41744 46.5 6.41744Z')
				.services__caption MiddleWare

			.services__hidden
				each item in servicesList
					.services__item(class= (item === servicesList[0]? 'services--active' : ''))
						.services__header
							img.services__img(src= '/../assets/img/icon-'+ item.name +'.png' alt= item.name) 			
							span.services__label= item.label
						.services__description= item.text

			.services__info.services--mt-150
				.title.services__head Функционал
				.text.services__text Интеграция с CRM системами
				.text.services__text Внедрение социальных сетей и социальных функций
				.text.services__text Интеграция с платежными системами  
				.text.services__text Построение аналитических систем
				.text.services__text Интеграция с системами бух. учета
				.text.services__text Интеграция с сайтами на Битрикс, WordPress, Joomla и т.д.
				.text.services__text Интеграция с сервисами телефонии, чатов, смс и e-mail рассылок

			.services__info
				.title.services__head Мобильная разработка      			
				.text.services__text
					| Мы предлагаем два варианта  создания приложений и кабинетов-базовый и расширенный.
					| Базовый вариант представляет собой «коробочное решение» с стандартным дизайном в бренбуке заказчика. 
					| Расширенный вариант  торгового мобильного приложения представляет  собой глубокую кастомизацию платформы 
					| либо полностью новую разработку исходя из требований заказчика.

			.services__info
				.title.services__head Разработка веб-сервисов       			
				.text.services__text 
					| Мы создаем личные кабинеты и веб-сервисы с портфельной аналитикой, рыночными данными, торговым и неторговым 
					| функционалом, разветвленной системой ролей и полномочий для брокерских, инвестиционных и управляющих компаний, 
					| на базе собственного «Мiddle-office» решения.

			.services__info
				.title.services__head Интернет-банкинг			
				.text.services__text 
					| Наши кейсы включают проект по созданию интернет-банкинга для состоятельных клиентов ТОП-3 банка, позволяющего 
					| совершать банковские операции и получать  персональные услуги онлайн через веб-кабинет и мобильное приложение.

			.services__info.services--mb-100 
				.title.services__head Блокчейн      			
				.text.services__text 
					| Мы имеем большой опыт не только в разработке, но и в экспертизе проектов, основанных на блокчейне. Имеющиеся 
					| наработки позволят объединить функционал площадок и торговых бирж в едином приложении.

block footer
	+footer('#F9F9FD', false)
