-
	var list = [
		{ name: 'presentation-vtb', title: 'ВТБ Мои инвестиции', 
		  text: 'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Группы ВТБ и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями', 
			circle: '#CE1E3B', 	color: '#FFFFFF'},
		{ name: 'presentation-bks', title: 'БКС Мой Брокер', text: 'Приложение предоставляет доступ'},
		{ name: 'presentation-psb', title: 'ПСБ Инвестиции', text: 'Приложение предоставляет доступ'},
		{ name: 'presentation-rshb', title: 'РСХБ Брокер', text: 'Приложение предоставляет доступ'},
		{ name: 'presentation-alpha', title: 'АльфаСтрахование', text: 'Приложение предоставляет доступ'},	
	]

.screen(data-pager="3").container
	.presentation
		.presentation__wrap
			each item in list
				.presentation__item(class= (item === list[0]? 'active' : '') style=`color: ${list.color}`)
					.presentation__header= item.title	
					.presentation__text= item.text
					.presentation__detail Подробнее о проекте
		.presentation__circle(style=`background-color: ${list[0].circle}`)

			//- .presentation__circle(style=`background-color: ${list.circle}`)



		//- .presentation__block-2
		//- 	.presentation__block-2-circle(style=`background-color: ${colorCircle}`)
		//- 	img.presentation__img(src= '/../assets/img/'+ item.name +'.png' alt= item.name)


